<app-top-bar></app-top-bar>
<div class="container">
    <div class="row" *ngIf="cards.length > 0">
        <div class="col-xs-12">
            <div class="box">
                <table mat-table [dataSource]="cards" class="mat-elevation-z8">
                    <!-- Name -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let card"> {{card.name}} </td>
                    </ng-container>
                    <!-- Translate -->
                    <ng-container matColumnDef="translate">
                        <th mat-header-cell *matHeaderCellDef> Translate </th>
                        <td mat-cell *matCellDef="let card"> {{card.translate}} </td>
                    </ng-container>
                    <!-- Meaning -->
                    <ng-container matColumnDef="meaning">
                        <th mat-header-cell *matHeaderCellDef> Meaning </th>
                        <td mat-cell *matCellDef="let card"> {{card.meaning}} </td>
                    </ng-container>
                    <!-- Meaning -->
                    <ng-container matColumnDef="example">
                        <th mat-header-cell *matHeaderCellDef> Example </th>
                        <td mat-cell *matCellDef="let card"> {{card.example}} </td>
                    </ng-container>
                    <!-- Meaning -->
                    <ng-container matColumnDef="cardId">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let card">
                            <button mat-mini-fab color="primary" aria-label="edit" (click)="onEdit(card.cardId)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" aria-label="remove" (click)="onDelete(card.cardId)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row end-xs bottom-xs">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box">
                <button mat-flat-button color="primary" (click)="onNew()">New Card</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box">
                <button mat-flat-button color="accent" (click)="onDecks()">Back</button>
            </div>
        </div>
    </div>
</div>


